*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.header{
  
    
}

.navbar{
     border: 1px solid #ffffff;
    background-color: #1A0B2E;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    margin: 0 auto;
}

.logo h1{
    color: #ffffff;
    cursor: pointer;
    font-size: 2.25em;
}

.logo span {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links li {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}
.nav-button{
    padding: 10px 22px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to left, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    cursor: pointer;

}
.nav-button i{
    padding-left: 5px;
    align-items: center;
}


