*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    background-color: #1A0B2E; 
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 80px;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.logo h1{
    color: #ffffff;
    cursor: pointer;
    font-size: 2.25em;
}
.logo span {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links li {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}
.nav-button{
    padding: 10px 22px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to left, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
}
.nav-button i{
    padding-left: 5px;
    align-items: center;
}
.hamburger{
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

/* main-section */

.hero-container{
    width: 100%;
    height: 750px;
    background-image: url(./assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center; 
    background-position: center;
    background-size: cover;
}

.hero-container .mic-wrapper{
    position: relative; 
}
.hero-circle{
    width: 350px;
    height: 350px;
    bottom: -60px;
    left: 99px;
    position: absolute; 
    z-index: 1;
}
.mic-icon{
    width: 120px;
    height: auto;
    right: -336px;
    top: -213px;
    position: absolute; 
    z-index: 2;
}
.btn-new{
    position: absolute;
    background: #00ff88;
    padding: 5px 15px;
    color: #1a0b2e;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.8em;
    left: 375px;
    top: -245px;
    z-index: 3;
}

.hero-container .hero-text h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 3.75em;
    font-weight: 800;
    top: 137px;
    left: 138px;

}
.hero-text p{
    position: relative;
    top: 145px;
    color: #ffffff;
}
.hero-btns{
    position: relative;
    top: 175px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.hero-btns .btn-spotify{
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(to right, #f7e93f, #fb09b4);
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer; 

    gap: 10px
}
.hero-btns .btn-subscribe{
    background: transparent;
    border: 1px solid #00FF88 !important;
     color: #00ff88;
     display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    gap: 10px;
}

/* @media screen and (max-width: 576px) {
    .nav-links, 
.nav-button{
    display: none;
}
.hamburger {
    display: block;
    margin-left: auto; 
}
.hero-container {
        padding: 40px 15px;
        min-height: auto;
    }
} */


/* grid-section */

.grid-section{
    background-color: #230E3D;
    /* max-width: 1600px; */
    width: 100%;
    height: 1276px;
    padding: 120px 200px 120px 200px;
}
.features-grid{
    /* max-width: 1200px;
    height: 780px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.grid-section h1 {
    font-size: 3em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  
}
.card img{
    width: 60px;
    height: auto;
    margin-bottom: 16px;
}
.card h3 {
    color: #FFFFFF;  margin-bottom: 10px;
    margin-bottom: 12px;
}
.card p{
    font-size: 0.95rem;
    font-weight: 400;
    color: #b0b0b0;
    line-height: 20px;
    text-align: left;
}
.card {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 35px;
    border-radius: 20px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.card .box1{
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card .box-wide2, 
.card .box-wide3{
    /* grid-column: span 2; */
    grid-row: span 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}




